/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/* @font-face {
    font-family: Arnold;
    src: url(/downloads/.Arnold.esa);
} */


body {
    font-family: Arnold;
}

h1 {
    font-family: Arnold;
}


/******************************************
/* LAYOUT
/*******************************************/
header{
    height: 70px;
    background: white;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center; */
}

footer{
    height: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    background-image: url("../images/us-flag-1.jpg");
}

h1{
    color: white;
}

h2{
    color: purple;
}

.logo{
    color: rgba(59,59,108);
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 700px;
}

#bbImages{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bbImages img {
    height: 275px;
    width: 275px;
    box-shadow: 0px 15px 20px 5px rgb(44, 42, 77), 0px 12px 40px 12px white;
    border: 10px solid rgb(232, 229, 229);
    border-radius: 10px;
}
