/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/* @font-face {
    font-family: Arnold;
    src: url(/downloads/.Arnold.esa);
} */


body {
    font-family: Arnold;
}

h1 {
    font-family: Arnold;
}


/******************************************
/* LAYOUT
/*******************************************/
header{
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    height: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
    background: lightpink;
}

h1{
    color: brown;
}

h2{
    color: purple;
}

img{
    width: 300px;
    height: 300px;
}

.container{
    width: 90%;
    margin: auto;
    text-align: center;
    height: 700px;
}

.bbImages{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bbImages img {
    height: 200px;
    width: 200px;
}
